div
 {
      width: 400px;
   position: relative;
   left: 38%;
   height: 200px;
   background-size: cover;
    
 }
 
    
 
 
 
//  .imgdiv{
//      height: 500px;
//      width: 500px;
//  }
//  .img1{
//      background-size: cover;
//      height: 200px;
//      width: 200px;
//  }
// img{
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 200px;
// }

button{
    width: 370px;
}

mat-card{

    
    width:500 px;
    margin-top: 12%;
    padding: 12px

    
}

.example-fullwidth{
    width: 100%;
}
form{
    margin-top: 12px;
}



