 <app-registationform></app-registationform>



<!-- 
  <div fxLayoutAlign="center center " fxFlexFill class="main_div">
    <mat-card fxFlex="30">
        <mat-toolbar color="primary">Register PAGE</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="reg_form">

            <mat-form-field>
                <input matInput placeholder="first Name">
                
                
            </mat-form-field><br><br>
            <mat-form-field>
              <input matInput placeholder="last Name">
              
              
          </mat-form-field><br><br>

            <mat-form-field>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="email" placeholder="email">
          </mat-form-field>
   
        </form> <but ton mat-raised-button type="submit">register</button>
           
    </mat-card>
</div> -->
